html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
  --header-color: rgb(128,156,101);
  --filled-color-old: hsl(196, 14%, 37%);
  --filled-color:hsl(196, 32%, 21%);
  --empty-color: #d3d8da;
  --class-added-color-old: hsl(196, 13%, 28%);
  --extra-dark-filled-color-old: hsl(193, 13%, 19%);
  --class-added-color: hsl(229, 32%, 15%);
  --extra-dark-filled-color: #121523;
  --class-deleted-color: #edf0f0;
  font-family: 'Zilla Slab', serif;

}
body {
  font-size:20px;
  margin: 0px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--filled-color);
}
#menu li {
    float: left;
}
#menu li a {
  font-size:20px;
    display: block;
    color: white;
    text-align: center;
padding-top:16px;
padding-bottom:16px;
    text-decoration: none;
}
#menu li a:hover {
    background-color: var(--class-added-color);
}
#nolink {
  cursor:default;
  background-color: var(--filled-color);
}
.main-content{
/* Will affect everything below titlebar on all pages.*/
}


