html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
  font-family: 'Zilla Slab', serif;
  --header-color: hsl(90, 22%, 50%);
  --header-color-unselected: hsl(90, 36%, 89%);
  --emphasis-color:hsl(41, 78%, 59%);
  --emphasis-color-unselected: hsl(41, 77%, 88%);
  --emphasis-color-saturated: hsl(24, 99%, 59%);

  --main-color: hsl(196, 32%, 15%);
  --main-color-unselected: hsl(196, 9%, 37%);
  --main-color-saturated: hsl(197, 34%, 21%);
  --main-color-lighten: hsl(196, 9%, 84%);
  --main-color-lighten-more: hsl(196, 9%, 94%);

  --class-added-color: hsl(196, 32%, 15%);
  --extra-dark-filled-color:hsl(197, 34%, 21%);
  --filled-color:hsl(196, 9%, 37%);
  --empty-color: hsl(196, 9%, 84%);
  --class-deleted-color: hsl(196, 9%, 94%);




  --filled-color-old: hsl(196, 14%, 37%);
  --class-added-color-old: hsl(196, 13%, 28%);
  --extra-dark-filled-color-old: hsl(193, 13%, 19%);
}
body {
  font-size:20px;
  margin: 0px;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 56px;
    overflow: hidden;
    background-color: var(--filled-color);
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}
/* .menu li {
    float: left;
} */
.menu li a {
   font-size:20px;
    color: white;
    text-align: center;
    margin: auto 0px;
    padding:16px 16px;
    text-decoration: none;
    vertical-align: middle;
    height:56px;
    display:flex;
    align-items:center;
}
.menu li a:hover {
    background-color: var(--class-added-color);
}
#nolink {
  cursor:default;
  background-color: var(--filled-color);
}
#home-button {
  padding: 16px 8px;
}
#home-button img {
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
}
#home-button span {
  vertical-align: middle;
  height:30px;
  margin: auto 0px;
}

.main-content{
/* Will affect everything below titlebar on all pages.*/
}


