* {
  --header-color: rgb(128,156,101);
  --filled-color: #51646b;
  --empty-color: #d3d8da;
  --class-added-color: #3d4b50;
  --class-deleted-color: #edf0f0;
  font-family: 'Zilla Slab', serif;

}
body {
  font-size:20px;
  margin: 0px;
}
/* html {
  font: 1.1em/1.4 Helvetica, sans-serif;
}


.wrapper {
  border: 5px solid rgb(86,98,110);
  border-radius: 5px;
  margin-bottom: 2em;
}

.wrapper > div {
  background-color: rgb(89,161,175);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

.multicol {
  column-width: 250px;
  column-gap: 20px;
  padding: 10px;
}

.multicol p {
  margin: 0 0 1em 0;
}

.flex {
   display: flex;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1 1 250px;
  margin: 10px;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
 */


